
.EditWrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0 auto;

}
.EditWrapper input{
  width: 25%;
  padding: 10px;
  font-size: 15px;
  margin-top:8px;
}
.EditWrapper button{
  font-size: 20px;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  margin-top:10px;
}
.EditWrapper label{
  font-size: 26px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}
.CoinEditCompleted{
  display: block;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  color: #4c880c;
  background-color: #dff2bf;
  width:fit-content;
  margin: 0 auto;
  margin-top:10px;
}
.NoDisplay{
  display:none;
}
.CoinEditFailed{
  display: block;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  color: #d8000c;
  background-color: #ffd2d2;
  width:fit-content;
  margin: 0 auto;
  margin-top:10px;
}