@import "description.css";
@import "add.css";
@import "navbar.css";
@import "list.css";
@import "search.css";
@import "edit.css";
@import "pagination.css";
@import "comments.css";
@import "addComment.css";

* {
  font-family: cursive;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
