.List {
  margin-right: 10px;
  font-size: 25px;
  margin-bottom: 10px;
}

.OneItem {
  justify-content: space-between;
  display: grid;
  word-break: keep-all;
  grid-template-columns: 15% 25% 15% 25% 5% 5%;
  border-style: groove;
  border-color: rgba(255, 255, 255, 0.267);
  min-height: 75px;
  align-items: center;
  margin-top: 25px;
  margin-left: 15px;
  padding-left: 10px;
  justify-items: center;
}
.OneItem button {
  font-size: 20px;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  border-width: thin;
  border-style: groove;
  border-radius: 3px;
  color: black;
  border-color: black;
}

.OneItem a {
  color: black;
  padding: 5px;
  border-color: black;
  border-width: thin;
  border-style: groove;
  background-color: rgb(240, 240, 240);
  border-radius: 3px;
}
