.Navbar {
  position: sticky;
  top: 0px;
  color: white;
  background-color: #555652;
  width: 100%;
  height: 50px;
}

.Page-name {
  background-color: #555652;
  margin-top: 10px;
  position: absolute;
  left: 50%;
  margin-left: -79px;
}

.Container {
  margin-top: 10px;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: space-between;
}

.item {
  padding-right: 20px;
}

a {
  color: white;
}
a:hover {
  color: #2699ab;
}
.Logout {
  font-weight: bold;
  font-size: 24px;
  color: white;
  border-style: none;
  background-color: #555652;
  margin-right: 15px;
}
